*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-image: url(pattern-background-desktop.svg);
   /*  background-image: url(/pattern-background-mobile.svg); */
    background-repeat:no-repeat;
    background-position:left;
    background-size: cover;
}

main{
    width:40rem;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 5px 2px whitesmoke;
}

main > img{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1{
    font-size: 2.8rem;
    margin-top: 3rem;
}

main > p{
    font-size: 1.6rem;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

main > .plan{
    display: flex;
    justify-content: space-between;
    width:80%;
    height:auto;
    margin-top: 2rem;
    padding:2rem 2rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
}

main > .plan > .pricing{
    margin-right:auto;
    margin-left: 2rem;
    font-size: 1.5rem;
}

main > .plan > .pricing> p{
    opacity: 0.5;
}

main > .plan > a{
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 1rem;
}
main > .plan > a:hover{
    text-decoration: none;
    color:hsl(223, 47%, 23%);
}

button{
    background-color:   hsl(245, 75%, 52%);
    color:#fff;
    padding:1.4rem 0 1.4rem 0;
    width:80%;
    height: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border:none;
    box-shadow: 0px 5px px hsl(245, 75%, 52%);
    cursor: pointer;
}

button:hover{
    background-color: hsl(223, 47%, 23%);
}

main > a{
    font-size: 1.6rem;
    opacity: 0.6;
    font-weight: bolder;
    text-decoration: none;
    margin-top:2rem;
    margin-bottom: 4rem;
    color: #333;
}

main > a:hover{
    color:#000;
    opacity: 1;
}

